#bleu{
    background-color:#2574a9;
}
#bleu div{
    margin-left: 20px;
}
#violet{
    background-color:#9a12b3;
   }
#violet div{
    margin-left: 20px;
}
.Height{
    height: 9pc;
}
#Line{
    line-height: 4pc;
}
.Height1{
    height: 11pc;
}
#Red{
    background-color:#db0a5b ;
}
.Margin{
    margin-left: 40px;
}
.MarginL{
    margin-left: 20px;
}